/*********************************************
 * GLOBAL STYLES
 *********************************************/

 @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Roboto+Condensed:wght@300&family=Roboto+Mono:wght@200;300;400&display=swap');

 :root {
    --r-background-color: #191919;
    --r-main-font:  'Barlow Condensed', sans-serif;
    --r-main-font-size: 42px;
    --r-main-color: #fff;
    --r-block-margin: 20px;
    --r-heading-margin: 0 0 20px 0;
    --r-heading-font: 'Roboto Condensed',Helvetica, sans-serif;
    --r-heading-color: #fff;
    --r-heading-line-height: 1.2;
    --r-heading-letter-spacing: normal;
    --r-heading-text-transform: uppercase;
    --r-heading-text-shadow: none;
    --r-heading-font-weight: 600;
    --r-heading1-text-shadow: none;
    --r-heading1-size: 2.5em;
    --r-heading2-size: 1.6em;
    --r-heading3-size: 1.3em;
    --r-heading4-size: 1em;
    --r-code-font: 'Roboto Mono', monospace;
    --r-link-color: #42affa;
    --r-link-color-dark: #068de9;
    --r-link-color-hover: #8dcffc;
    --r-selection-background-color: #bee4fd;
    --r-selection-color: #fff;
  }

  .reveal ul {
    list-style-type: circle;
  }

  .reveal ul ul{
    list-style-type: '-';
  }

  .reveal .code-wrapper {
    box-shadow: 0.5em 0.5em 0.7em grey;
  }

  .reveal code {
    font-weight: 200;
  }